.players {
  color: #444444;
  text-shadow: 1px 0px 1px #cccccc, 0px 1px 1px #eeeeee, 2px 1px 1px #cccccc,
    1px 2px 1px #eeeeee, 3px 2px 1px #cccccc, 2px 3px 1px #eeeeee,
    4px 3px 1px #cccccc, 3px 4px 1px #eeeeee, 5px 4px 1px #cccccc,
    4px 5px 1px #eeeeee, 6px 5px 1px #cccccc, 5px 6px 1px #eeeeee,
    7px 6px 1px #cccccc;
  color: #444444;
}
.score {
  color: #ffffff;
  text-shadow: 2px 2px 0 #4074b5, 2px -2px 0 #4074b5, -2px 2px 0 #4074b5,
    -2px -2px 0 #4074b5, 2px 0px 0 #4074b5, 0px 2px 0 #4074b5,
    -2px 0px 0 #4074b5, 0px -2px 0 #4074b5;
  color: #ffffff;
}

#target {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.target-wrapper {
  margin-top: 20px;
}
.dice {
  font-size: 3rem;
  display: inline-block;
}

.rolling {
  animation: shakeDice 0.5s ease-in-out;
}

@keyframes shakeDice {
  0% {
    transform: rotate(0deg) scale(1);
  }
  20% {
    transform: rotate(15deg) scale(1.1);
  }
  40% {
    transform: rotate(-15deg) scale(1.1);
  }
  60% {
    transform: rotate(10deg) scale(1.05);
  }
  80% {
    transform: rotate(-10deg) scale(1.05);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}
